.cover__link {
  max-width: 560px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 525px) {
  .cover__link {
    min-height: 200px;
  }
}
