.photo-grid__list {
  margin: 0 auto;
  padding: 0;
  max-width: calc(100% - 96px);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (min-width: 525px) and (max-width: 768px) {
  .photo-grid__list {
    max-width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (max-width: 525px) {
  .photo-grid__list {
    max-width: calc(100% - 32px);
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
