.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  align-self: center;
}

@media (max-width: 525px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    white-space: pre-line;
  }
}


